@*
/auth/access-denied/
*@

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer

<div style="display: grid; grid-template-rows: auto 1fr;"><!--container with two rows, one fixed, one filling remaining space-->
    <div style="min-height: 1rem;"></div><!--the first row is a dummy row for "margin", because setting a margin on the next row would offset the parent's position-->
    <div class="enlightenment-panel shadow-effect p-2 mx-auto panel w-55 mb-10" style="min-width: 320px;">
        <div class="shine-effect"></div>
        <div class="text-center w-100">
            <p id="change-password-success" class="invalid-feedback f-18 w-100"><b>@_localizer["NotAllowedToAccessResource"]</b></p>
        </div>
    </div>
</div>
