@*
/auth/change-password/
*@

@using Lumina.Presentation.Web.Common.Models.UsersManagement
@using Lumina.Presentation.Web.Common.Services

@inject IUrlService _urlService

@model ChangePasswordRequestModel

<div class="enlightenment-panel shadow-effect p-2 mx-auto panel w-50 mb-10" style="min-width: 320px; margin-top: 1rem;">
    <div class="shine-effect"></div>
    <form asp-controller="Auth" asp-action="ChangePassword" method="post" id="change-password-form" class="inline">
        @Html.AntiForgeryToken()
        <input type="text" name="username" autocomplete="username" value="@User.Identity!.Name" hidden />
        <div class="form-container">
            <!-- Current Password -->
            <div class="form-row" id="div-current-password">
                <div class="form-label">
                    <label asp-for="CurrentPassword">Current Password</label>
                    <span class="mandatory-field">*</span>:
                </div>
                <div class="form-field">
                    <input type="password" asp-for="CurrentPassword" autocomplete="new-password" class="enlightenment-input" />
                </div>
                <small class="form-label text-disabled form-description">DescriptionCurrentPassword</small>
            </div>
            <!-- New Password -->
            <div class="form-row" id="div-new-password">
                <div class="form-label">
                    <label asp-for="NewPassword">New Password</label>
                    <span class="mandatory-field">*</span>:
                </div>
                <div class="form-field">
                    <input type="password" asp-for="NewPassword" autocomplete="new-password" class="enlightenment-input" />
                </div>
                <small class="form-label text-disabled form-description">DescriptionNewPassword</small>
            </div>
            <!-- New Password Confirm-->
            <div class="form-row" id="div-new-password-confirm">
                <div class="form-label">
                    <label asp-for="NewPasswordConfirm">New Password Confirm</label>
                    <span class="mandatory-field">*</span>:
                </div>
                <div class="form-field">
                    <input type="password" asp-for="NewPasswordConfirm" autocomplete="new-password" class="enlightenment-input" />
                </div>
                <small class="form-label text-disabled form-description">DescriptionNewPasswordConfirm</small>
            </div>
            <div class="form-row" id="div-change-password-submit" style="justify-content: center;">
                <button type="submit" class="confirm-button h-22px w-150px">Change Password</button>
            </div>
        </div>
    </form>
    <!-- section registration success -->
    <div class="text-center w-100">
        <p id="change-password-success" class="text-light-one w-100 hidden">Password Changed</p>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" defer>
        document.getElementById('change-password-form').addEventListener('keypress', async (event) => {
            if (event.key === 'Enter') {
                event.preventDefault();
                const form = event.target.closest('form');
                await handleChangePassword(form);
            }
        });

        document.getElementById('change-password-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            await handleChangePassword(event.target);
        });

        async function handleChangePassword(form) {
            const txtCurrentPassword = form.querySelector('[name="CurrentPassword"]');
            const txtNewPassword = form.querySelector('[name="NewPassword"]');
            const txtNewPasswordConfirm = form.querySelector('[name="NewPasswordConfirm"]');

            const changePasswordSuccess = document.getElementById('change-password-success');
            const divCurrentPassword = document.getElementById('div-current-password');
            const divNewPassword = document.getElementById('div-new-password');
            const divNewPasswordConfirm = document.getElementById('div-new-password-confirm');
            const divChangePasswordSubmit = document.getElementById('div-change-password-submit');

            const formData = {
                CurrentPassword: txtCurrentPassword.value,
                NewPassword: txtNewPassword.value,
                NewPasswordConfirm: txtNewPasswordConfirm.value
            };
            const data = await callApiPostAsync('@_urlService.GetAbsoluteUrl("ChangePassword", "Auth")', formData);
            if (data && data.isPasswordChanged === true) {
                changePasswordSuccess.classList.replace('hidden', 'block');
                divCurrentPassword.classList.add('hidden');
                divNewPassword.classList.add('hidden');
                divNewPasswordConfirm.classList.add('hidden');
                divChangePasswordSubmit.classList.add('hidden');
            }
        }


    </script>
}
