.enlightenment-input {
    font-size: 14px;
    padding: 5px;
    border: 1px solid;
    border-color: var(--border-color-dark) var(--border-color-light) var(--border-color-light) var(--border-color-dark);
    border-radius: 3px;
    background: linear-gradient(0deg, #90c247, #509c00);
    transition: background 0.3s, color 0.3s;
    color: #000;
    outline: none;
    position: relative;
    box-sizing: border-box;
}

    .enlightenment-input:hover {
        background: var(--window-button-over-color);
    }

    .enlightenment-input:not(:focus) {
        background: linear-gradient(0deg, #6b7579, #576b65);
        color: #000;
    }

    .enlightenment-input:focus {
        font-style: italic;
        color: #333;
        background: linear-gradient(0deg, #6AAFF8, #82E9F7);
        box-shadow: inset 4px 6px 8px rgba(0,0,0,0.6);
        border-color: var(--border-color-dark) var(--border-color-light) var(--border-color-light) var(--border-color-dark);
        outline: none;
    }

    .enlightenment-input::placeholder {
        color: #999;
    }

    .enlightenment-input:disabled {
        color: #999;
        background: var(--container-background);
    }

    .enlightenment-input[readonly] {
        color: #999;
        background: var(--container-background);
        border-color: var(--border-color-light) var(--border-color-dark) var(--border-color-dark) var(--border-color-light);
    }

    .enlightenment-input[data-has-error="true"] {
        border-color: #f00;
        color: #FFF;
        background: #700;
    }

textarea {
    resize: none;
}