#navigator-navigation-controls-container {
    width: 180px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#navigator-history {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#navigator-history, ::deep .navigator-navigate-button, ::deep .navigator-edit-path-button {
    flex-shrink: 0; /* don't let them shrink */
}

    #navigator-history img {
        width: 26px;
        height: 26px;
        margin-left: 5px;
    }

.navigator-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

::deep .navigator-navigate-button, ::deep .navigator-edit-path-button {
    text-align: end !important;
}

::deep .navigator-navigate-button {
    margin: 0px 10px 2px 0px;
}

::deep .navigator-edit-path-button {
    margin: 0px 10px 2px 12px;
}

#navigator-address-bar-container {
    flex-grow: 1;
    display: flex;
    height: 28px;
    align-items: center;
    overflow-x: hidden;
}


    #navigator-address-bar-container::-webkit-scrollbar,
    #navigator-address-bar-group::-webkit-scrollbar {
        display: none;
        width: 0;
    }

#navigator-address-bar-container,
#navigator-address-bar-group {
    scrollbar-width: none; /* Firefox 64+ */
}

#navigator-address-bar-container,
#navigator-address-bar-group {
    -ms-overflow-style: none; /* IE 10+ */
}


/* for Webkit browsers like Chrome, Safari */
#navigator-address-bar::-webkit-scrollbar {
    height: 0;
}

/* for Internet Explorer and Edge */
#navigator-address-bar {
    -ms-overflow-style: none; /*IE and Edge */
}

    /* for Firefox */
    #navigator-address-bar ::-moz-scrollbar {
        width: 0;
        display: none;
    }


#navigator-address-bar-group {
    flex-grow: 1; /* let it take the remaining space */
    display: flex; /* use flex for its children */
    flex-wrap: nowrap;
    align-items: center; /* vertically center its children */
    height: 30px;
    overflow-x: hidden;
}


#navigator-view-mode-container {
    display: flex;
    margin-right: 10px;
    align-items: center;
    width: 125px;
}

    #navigator-view-mode-container img {
        margin-right: 5px;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }


#navigator-address-bar-group, #navigator-view-mode-container {
    margin-left: 10px;
}


::deep .navigator-address-bar-input {
    display: none;
    width: 100%;
}


#navigator-address-bar {
    background-color: #23232355;
    margin-top: -2px;
    padding-left: 2px;
    vertical-align: middle;
    height: 30px;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

    #navigator-address-bar ul {
        height: 100%;
        list-style-type: none;
        padding: 0;
        display: flex;
        align-items: center;
    }

#navigator-path-segments {
    margin: 0px !important;
}

@media (max-width: 768px) {
    #navigator-view-mode-container {
        height: 26px;
    }

    #navigator-address-bar-container {
        flex-basis: 100%; /* Make navigator-address-bar-container take the full width on wrap, hence pushing it to a new line */
    }

}