@using Lumina.Presentation.Web.Components

@inherits LayoutComponentBase

<div id="page">
    <NavMenu />    
    <main>       
        <article>
            @Body
        </article>
    </main>
</div>
<Notifications />