<input type="checkbox" id="hamburger-input" class="burger-shower" />
<label id="hamburger-menu" for="hamburger-input">
    <span></span>
    <span></span>
    <span></span>
    <nav id="mobile-menu">
        <div id="mobile-menu-content">
            <div class="mobile-menu-heading">
                Account
            </div>
            <ul>
                <li><a href="account/login"><span>Login</span></a></li>
                <li><a href="account/logout"><span>Logout</span></a></li>
                <li><a href="account/register"><span>Register</span></a></li>
                <li><a href="account"><span>My Account</span></a></li>
            </ul>
            <div class="mobile-menu-heading">
                Tools
            </div>
            <ul>
                <li><a href="tools/options"><span>Options</span></a></li>
            </ul>
            <div class="mobile-menu-heading">
                Library
            </div>
            <ul>
                <li><a href="library/management/libraries"><span>Manage libraries</span></a></li>
                <li><a href="library/management/library"><span>Add media library</span></a></li>
            </ul>
            <div class="mobile-menu-heading">
                Written Content
            </div>
            <ul>
                <li><a href="library/written-content/books"><span>Books</span></a></li>
                <li><a href="library/written-content/magazines"><span>Magazines</span></a></li>
            </ul>
            <div class="mobile-menu-heading">
                Audio
            </div>
            <ul>
                <li><a href="library/audio/music"><span>Music</span></a></li>
                <li><a href="library/audio/interviews"><span>Interviews</span></a></li>
            </ul>
            <div class="mobile-menu-heading">
                Video
            </div>
            <ul>
                <li><a href="library/video/movies"><span>Movies</span></a></li>
                <li><a href="library/video/tvshows"><span>TV Shows</span></a></li>
            </ul>
            <div class="mobile-menu-heading">
                Help
            </div>
            <ul>
                <li><a href="help/documentation"><span>Documentation</span></a></li>
                <li><a href="help/about"><span>About</span></a></li>
            </ul>
        </div>
    </nav>
</label>
<nav class="menubar">
    <ul>
        <li tabindex="0">
            <input type="radio" id="account-menu" name="menu">
            <label for="account-menu">Account</label>
            <ul>
                <li><a href="account/login">Login</a></li>
                <li><a href="account/logout">Logout</a></li>
                <li><a href="account/register">Register</a></li>
                <li><a href="account">My Account</a></li>
            </ul>
        </li>
        <li tabindex="0">
            <input type="radio" id="tools-menu" name="menu">
            <label for="tools-menu">Tools</label>
            <ul>
                <li><a href="tools/options">Options</a></li>
            </ul>
        </li>
        <li tabindex="0">
            <input type="radio" id="library-menu" name="menu">
            <label for="library-menu">Library</label>
            <ul>
                <li tabindex="0"><a href="library/management/libraries">Manage libraries</a></li>
                <li tabindex="0"><a href="library/management/library">Add new library</a></li>
                <li class="has-submenu" tabindex="0">
                    <label>Written Content</label>
                    <ul>
                        <li><a href="library/written-content/books">Books</a></li>
                        <li><a href="library/written-content/magazines">Magazines</a></li>
                    </ul>
                </li>
                <li class="has-submenu" tabindex="0">
                    <label>Audio</label>
                    <ul>
                        <li><a href="library/audio/music">Music</a></li>
                        <li><a href="library/audio/interviews">Interviews</a></li>
                    </ul>
                </li>
                <li class="has-submenu" tabindex="0">
                    <label>Video</label>
                    <ul>
                        <li><a href="library/video/movies">Movies</a></li>
                        <li><a href="library/video/tvshows">TV Shows</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li tabindex="0">
            <input type="radio" id="help-menu" name="menu">
            <label for="help-menu">Help</label>
            <ul>
                <li><a href="help/documentation">Documentation</a></li>
                <li><a href="help/about">About</a></li>
            </ul>
        </li>
    </ul>
</nav>